<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Layout page</title>
</head>
<body>
    <header>
        <h1>Layout page for ANGU</h1>
        <hr />
    </header>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div>
            <hr />
            <b>Page Footer here</b>
        </div>
    </footer>
</body>
</html>