@model WebApp.Models.Tenant

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        Tenant Name: @Model.Name
    </div>
</body>
</html>