@model List<WebApp.Models.Speaker>

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Speakers at Angular U</title>
</head>
<body>
    <div>
        @foreach (var speaker in @Model)
        {
            <span>
                @speaker.FirstName @speaker.LastName
            </span>
            <br/>
        }
    </div>
</body>
</html>